{% block title %}
<title>AI Prediction</title>
{% endblock %}

{% block head %}

<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
{% endblock %}

{% block nav %}
<nav class="navbar navbar-expand-md bg-dark navbar-dark" style="margin: 0;">
    <!-- Brand -->
    <a class="navbar-brand" style="text-align: center; width: 100%;" href="/">Yemek Sınıflandırma</a>

    <!-- Toggler/collapsibe Button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>
</nav>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
{% endblock %}



{% block body %}
    

<body>

    <img style="border-radius: 10%; display: block;margin-left: auto; margin-right: auto;width: 50%; height: 50%;" src="static/images/indeximage.jpg" class="picture-src" id="wizardPicturePreview" title="">

    <form action="/predict" method="POST" style="display: block;margin-left: auto; margin-top:3%;margin-right: auto;width: 50%;">
        <div class="form-group">
            
            <input type="file" class="form-control" id="Prediction_image" name="imagefile" accept="image/*"
                placeholder="Yediğiniz yemeğin fotoğrafını yükleyiniz">
        </div>

        <button type="submit" class="btn btn-primary">Tahmin Et</button>

    </form>

    <script>
        $(document).ready(function () {
            // Prepare the preview for profile picture
            $("#Prediction_image").change(function () {
                readURL(this);
            });
        });
        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#wizardPicturePreview').attr('src', e.target.result).fadeIn('slow');
                }
                reader.readAsDataURL(input.files[0]);
            }
        }
    </script>

</body>
{% endblock %}